//>>>>> Header Top Start <<<<<//
.header-top-section {
	position: relative;
	z-index: 9;
	background-color: $black;
	.container {
		max-width: 1800px;
		margin: 0 auto;
	}
	.header-top-wrapper {
		@include flex;
		justify-content: space-between;
		padding: 12px 0;
		.contact-list {
			@include flex;
			gap: 24px;

			li {
				color: $white;
				font-weight: 400;
				font-size: 15px;

				i {
					margin-right: 5px;
				}

				a {
					color: $white;
					font-weight: 400;
				}
			}
			.line {
				width: 1px;
				height: 21px;
				background: #585862;
			}
			@include breakpoint(max-xl){
				gap: 16px;
				li{
					font-size: 13px;
				}
			}
		}
	}
	@include breakpoint(max-lg){
		display: none;
	}
}
.header-top-social {
	display: flex;
	align-items: center;
	gap: 24px;
	a {
		font-size: 15px;
		color: $white;
		display: flex;
		align-items: center;
		gap: 8px;
		&:hover {
			color: $p2-clr;
			i {
				color: $p2-clr;
			}
		}
	}
	.line {
		width: 1px;
		height: 19px;
		background: #585862;
	}
	@include breakpoint(max-xl){
		gap: 16px;
		a{
			font-size: 13px;
		}
	}
}

//>>>>> Header Main Area Start <<<<<//

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	.main-menu {
		ul {
			margin-bottom: 0;
			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 26px;

				&:last-child {
					margin-inline-end: 0;
				}

				a {
					display: inline-block;
					font-size: 16px;
					font-weight: 600;
					color: $black;
					padding: 20px 0;
					text-align: left;
					font-family: $heading-font;
					position: relative;
					text-transform: capitalize;
					@include transition;

					i {
						margin-left: 2px;
						font-size: 16px;
					}

					&:hover {
						color: $p1-clr !important;
					}
				}
				.submenu {
					position: absolute;
					top: 100%;
					inset-inline-start: 0;
					min-width: 240px;
					background: $white;
					z-index: 99999;
					visibility: hidden;
					opacity: 0;
					transform-origin: top center;
					color: $black;
					box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
					-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
					-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
					transform: translateY(10px);
					@include transition;

					li {
						display: block;
						width: 100%;
						margin: 0;
						padding: 0;

						a {
							position: relative;
							z-index: 11;
							font-size: 16px;
							font-weight: 600;
							color: $black;
							padding: 0 25px;
							padding-bottom: 11px;
							padding-top: 11px;
							width: 100%;
							border-bottom: 1px solid #eeeeee;
						}
						&:last-child {
							a {
								border: none;
							}
						}
						.submenu {
							inset-inline-start: 100%;
							top: 0;
							visibility: hidden;
							opacity: 0;
						}
						&:hover {
							> a {
								background: $p1-clr;
								color: $white !important;

								&::after {
									color: $p1-clr;
								}
							}
							> .submenu {
								-webkit-transform: translateY(1);
								-moz-transform: translateY(1);
								-ms-transform: translateY(1);
								-o-transform: translateY(1);
								transform: translateY(1);
								visibility: visible;
								opacity: 1;
							}
						}
					}
					li.has-dropdown {
						> a {
							&::after {
								position: absolute;
								top: 50%;
								inset-inline-end: 25px;
								-webkit-transform: translateY(-50%);
								-moz-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								-o-transform: translateY(-50%);
								transform: translateY(-50%);
								color: $p1-clr;
							}
						}
					}
				}
				.has-homemenu {
					width: 500px;
					padding: 30px 30px 10px 30px;
					opacity: 0;
					left: -250px;
					visibility: hidden;
					padding: 20px 20px 20px 20px;

					.homemenu-items {
						@include flex;
						gap: 18px;
						justify-content: space-between;
						@include breakpoint(max-lg) {
							flex-wrap: wrap;
						}
						.homemenu {
							position: relative;
							box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
							.homemenu-thumb {
								position: relative;
								width: 100%;
								.demo-button {
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									width: 60%;
									gap: 10px;
									display: flex;
									justify-content: center;
									flex-direction: column;
									opacity: 0;
									visibility: hidden;
									@include transition;
									margin-top: 20px;
									.theme-btn {
										padding: 14px 20px;
										color: $white !important;
										width: initial;
										font-size: 14px;
										text-align: center;
										border-radius: 0;

										&:hover {
											color: $white !important;
										}
									}
								}
								&::before {
									background: -webkit-gradient(
										linear,
										left top,
										left bottom,
										from(rgba(20, 19, 19, 0)),
										to(#5e5ef6)
									);
									background: linear-gradient(
										to bottom,
										rgba(99, 92, 92, 0) 0%,
										#252527 100%
									);
									background-repeat: no-repeat;
									background-size: cover;
									background-position: center;
									width: 100%;
									height: 100%;
									position: absolute;
									left: 0;
									top: 0;
									overflow: hidden;
									opacity: 0;
									-webkit-transition: all 0.3s ease-in-out;
									transition: all 0.3s ease-in-out;
									content: "";
								}
								&:hover {
									&::before {
										visibility: visible;
										opacity: 1;
									}

									.demo-button {
										opacity: 1;
										visibility: visible;
										margin-top: 0;
									}
									& .homemenu-btn {
										opacity: 1;
										visibility: visible;
										bottom: 50%;
										transform: translateY(50%);
									}
								}
								img {
									width: 100%;
								}
							}

							.homemenu-title {
								text-align: center;
								margin: 15px auto;
								display: inline-block;
								font-size: 16px;
							}
						}
					}
				}
				&:hover {
					> a {
						color: $p1-clr;
						&::after {
							color: $p1-clr;
						}
					}
					> .submenu {
						visibility: visible;
						opacity: 1;
						transform: translateY(0px);
					}
				}
			}
		}
	}
	.header-right {
		gap: 30px;
		.call-icon {
			font-weight: 600;
			color: $black;
			display: flex;
			align-items: center;
			gap: 6px;
		}
		.search-icon {
			i {
				font-size: 17px;
			}
			.fal {
				font-weight: 400;
			}
		}
	}
	.sidebar__toggle {
		cursor: pointer;
		img {
			width: 36px;
		}
	}
	.header-logo {
		max-width: 140px;
		img {
			width: 100%;
		}
	}
	@include breakpoint(max-xxl) {
		.header-logo {
			max-width: 100px;
			img {
				width: 100%;
			}
		}
		.header-right {
			gap: 20px;
			.common-btn {
				padding: 12px 16px;
				font-size: 14px;
				font-weight: 400;
			}
		}
		.main-menu {
			ul {
				li {
					margin-inline-end: 20px;
				}
			}
		}
	}
	@include breakpoint(max-md) {
		.header-right {
			gap: 20px;
			.common-btn {
				padding: 10px 16px 12px;
			}
		}
	}
	@include breakpoint(max-sm) {
		.header-right {
			gap: 20px;
			.common-btn {
				padding: 8px 14px 10px;
			}
		}
	}
}

.header-section {
	box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.04);
	.container {
		max-width: 1800px;
		margin: 0 auto;
	}
	@include breakpoint(max-lg) {
		padding: 8px 0;
	}
}

.sidebar__toggle {
	cursor: pointer;
}
//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: all 0.9s;
	background-color: $white;
	box-shadow: $shadow;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background: $cmnbg none repeat scroll 0 0;
	border-left: 2px solid $p1-clr;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 99999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
	.offcanvas__logo {
		max-width: 110px;
		display: block;
		img {
			width: 100%;
		}
	}
}
.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;
	.offcanvas__content {
		.text {
			color: $black;
		}
		.offcanvas__close {
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 4px;
			background-color: $p1-clr;
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: $white;
			}
		}
		.offcanvas__contact {
			margin-top: 20px;
			ul {
				margin-top: 20px;

				li {
					font-size: 16px;
					font-weight: 600;
					text-transform: capitalize;

					a {
						color: $black;
					}

					&:not(:last-child) {
						margin-bottom: 15px;
					}

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $p1-clr;
						}
					}
				}
			}
			span {
				text-transform: initial;
			}
			.header-top-social {
				a {
					color: $black;
					font-weight: 600;
					i {
						color: $black;
					}
					&:hover {
						color: $p2-clr;
						i {
							color: $p2-clr;
						}
					}
				}
			}
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width: 450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}
