.bar-bg {
	height: 5px;
	background: #e7e7e7;
	.progress-bar {
		height: 5px;
		background-color: $p1-clr;
		transition: width 1s linear;
		width: 0%;
	}
}
//Progress Bar
.progressbar-wrap{
    flex-direction: column;
    display: flex;
    gap: 30px;
    @include breakpoint(max-xl){
        gap: 20px;
    }
}
.project-big-thumb{
    direction: rtl;
    @include breakpoint(max-lg){
        width: 100%;
        img{
            width: 100%;
        }
        margin-bottom: 70px;
    }
}
//Progress Bar